@page
@model App.UI.Pages.Books.addModel
@{
    Layout = "/Pages/Shared/LibrarianLayout.cshtml";
    ViewBag.Title = "Add Book";
}


<!-- Basic Form Inputs card start -->
<div class="card ">
    <div class="card-header">
        <h3>Add New Book</h3>
    </div>
    <div class="card-block ">

        <form method="post"  enctype="multipart/form-data" id="form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Name</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Name"></span>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Url</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.UrlName" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.UrlName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Copy Year </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.CopyYear" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.CopyYear"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Number Of Copies  </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.NumberOfCopies" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.NumberOfCopies"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Author Name</label>
                <div class="col-sm-10">

                    <select class=" dropdown dropdown-primary" asp-for="Book.AuthorId">
                        <option>Choose Author</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.Name</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Book.AuthorId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Price</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Price" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Price"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Offer</label>
                <div class="col-sm-5">
                    <input type="text" id="offer" asp-for="Book.Offer" class="form-control">
                </div>
                <div class="col-sm-5">
                    <select class=" dropdown dropdown-primary" id="Currency">

                        <option value="EGP">EGP</option>
                        <option value="%">%</option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Description</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Description"></span>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Photo</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" asp-for="Book.PhotoFile" id="uploadedfile">
                    <span class="text-danger" asp-validation-for="Book.Photo"></span>
                </div>

            </div>
            <div class="form-group row ">
                <label class="col-sm-2 col-form-label" >Is Active</label>
                <div class="col-sm-10" style="margin-right: 0px; ">
                    <input class="form-check-input "  type="checkbox" asp-for="Book.IsActive" id="checkbox1" checked>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Book Audio</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" asp-for="Book.AudioFile" id="uploadedfile">
                    <span class="text-danger" asp-validation-for="Book.AudioFile"></span>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Pdf</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" asp-for="Book.PdfFile" id="uploadedfile">
                    <span class="text-danger" asp-validation-for="Book.PdfFile"></span>
                </div>

            </div>


            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Categories</label>
                @foreach (var item in Model.BookCategories)
                {
                  
            <div class="col">

                <input class="form-check-input" value="@item.Id" type="checkbox" name="CategoryIds" id="checkbox1">
                <span>
                    @item.CategoryName
                </span>
            </div>

                   
                }

            </div>

            <div class="text-right">
                <button class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" type="submit">Add Book</button>
            </div>
        </form>

    </div>
</div>
<!-- Basic Form Inputs card end -->

@section Scripts {
  
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#uploadedfile').change(function () {
                if ($('#uploadedfile').val != null) {

                    $("#photo").val("22203");
                }

            });
            $('#form').submit(function () {
                var Curruncy = $("#Currency").val()
                if (Curruncy == "%") {
                    var offer = $("#offer").val()
                    $("#offer").val(offer / 100)
                   
                }
               
            });
            

        });
    </script>
}





