@page
@model App.UI.Pages.Books.addModel
@{
        Layout = "/Pages/Shared/LibrarianLayout.cshtml";
}
book

<!-- Basic Form Inputs card start -->
<div class="card">
    <div class="card-header">
        <h3>Add New Book</h3>
    </div>
    <div class="card-block">
       
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Name</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Name"></span>
                </div>

            </div>
            @*get author name from author Id*@

            @*<div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Book.AuthorName">Author Name</label>
                 <select asp-for="Book.AuthorName" asp-items="@(new SelectList(ModelState,"Authors","Name"))">
                <option>Choose Author</option>
                </select>

        </div>*@
             <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Url</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.UrlName" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.UrlName"></span>
                </div>
            </div>
                <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Copy Year </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.CopyYear" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.CopyYear"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Author Name</label>
                <div class="col-sm-10">

                    <select class=" dropdown dropdown-primary" asp-for="Book.AuthorId">
                        <option>Choose Author</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.Name</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Book.AuthorId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Price</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Price" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Price"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Description</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Book.Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Book.Description"></span>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Book Photo</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" asp-for="Book.PhotoFile" id="uploadedfile">
                    <span class="text-danger" asp-validation-for="Book.PhotoFile"></span>
                </div>

            </div>
            <div class="form-group row ">
                <label class="custom-control-label" asp-for="Book.IsActive"> Is Active</label>
                <div class="col-sm-10 ">
  <input type="checkbox" class="custom-control custom-checkbox form-control" asp-for="Book.IsActive" >
                <span class="text-danger" asp-validation-for="Book.IsActive"></span>
         </div>
    </div>

            <div class="text-right">
                <button class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" type="submit">Add Book</button>
            </div>
        </form>

    </div>
</div>
<!-- Basic Form Inputs card end -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            
            $('#uploadedfile').change(function () {
                if ($('#uploadedfile').val != null)
                {
                   
                    $("#photo").val("22203");
                }

            });

        });
    </script>
}
 <script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


