@page
@model App.UI.Pages.customer.accountModel
@{

}


<h1>what is your favourite book category</h1>

    <form action="/action_page.php">
        <div class="text-center">
    <h2>fiction book genres: </h2><br />
    <h3>Fantasy</h3>
    <input type="radio" id="FantasyReally dislike" name="Fantasy" value="0">
    <label for="FantasyReally dislike">Really dislike</label>
    <input type="radio" id="Fantasydislike" name="Fantasy" value="1">
    <label for="Fantasydislike">Dislike</label>
    <input type="radio" id="Fantasyneather like nor dislike" name="Fantasy" value="2">
    <label for="Fantasyneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Fantasylike" name="Fantasy" value="3">
    <label for="Fantasylike">Like</label>
    <input type="radio" id="FantasyReally like" name="Fantasy" value="4">
    <label for="FantasyReally like">Really like</label><br>
    <br>


    <h3>Adveture</h3>
    <input type="radio" id="AdvetureReally dislike" name="Adveture" value="0">
    <label for="AdvetureReally dislike">Really dislike</label>
    <input type="radio" id="Adveturedislike" name="Adveture" value="1">
    <label for="Adveturedislike">Dislike</label>
    <input type="radio" id="Advetureneather like nor dislike" name="Adveture" value="2">
    <label for="Advetureneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Adveturelike" name="Adveture" value="3">
    <label for="Adveturelike">Like</label>
    <input type="radio" id="AdvetureReally like" name="Adveture" value="4">
    <label for="AdvetureReally like">Really like</label><br>
    <br>

    <h3>Romance</h3>
    <input type="radio" id="RomanceReally dislike" name="Romance" value="0">
    <label for="RomanceReally dislike">Really dislike</label>
    <input type="radio" id="Romancedislike" name="Romance" value="1">
    <label for="Romancedislike">Dislike</label>
    <input type="radio" id="Romanceneather like nor dislike" name="Romance" value="2">
    <label for="Romanceneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Romancelike" name="Romance" value="3">
    <label for="Romancelike">Like</label>
    <input type="radio" id="RomanceReally like" name="Romance" value="4">
    <label for="RomanceReally like">Really like</label><br>
    <br>

    <h3>Mystery</h3>
    <input type="radio" id="MysteryReally dislike" name="Mystery" value="0">
    <label for="MysteryReally dislike">Really dislike</label>
    <input type="radio" id="Mysterydislike" name="Mystery" value="1">
    <label for="Mysterydislike">Dislike</label>
    <input type="radio" id="Mysteryneather like nor dislike" name="Mystery" value="2">
    <label for="Mysteryneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Mysterylike" name="Mystery" value="3">
    <label for="Mysterylike">Like</label>
    <input type="radio" id="MysteryReally like" name="Mystery" value="4">
    <label for="MysteryReally like">Really like</label><br>
    <br>

    <h3>Horror</h3>
    <input type="radio" id="HorrorReally dislike" name="Horror" value="0">
    <label for="HorrorReally dislike">Really dislike</label>
    <input type="radio" id="Horrordislike" name="Horror" value="1">
    <label for="Horrordislike">Dislike</label>
    <input type="radio" id="Horrorneather like nor dislike" name="Horror" value="2">
    <label for="Horrorneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Horrorlike" name="Horror" value="3">
    <label for="Horrorlike">Like</label>
    <input type="radio" id="HorrorReally like" name="Horror" value="4">
    <label for="HorrorReally like">Really like</label><br>
    <br>

    <h3>Science Fiction</h3>
    <input type="radio" id="ScienceReally dislike" name="Science" value="0">
    <label for="ScienceReally dislike">Really dislike</label>
    <input type="radio" id="Sciencedislike" name="Science" value="1">
    <label for="Sciencedislike">Dislike</label>
    <input type="radio" id="Scienceneather like nor dislike" name="Science" value="2">
    <label for="Scienceneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Sciencelike" name="Science" value="3">
    <label for="Sciencelike">Like</label>
    <input type="radio" id="ScienceReally like" name="Science" value="4">
    <label for="ScienceReally like">Really like</label><br>
    <br>

    <h3>Children</h3>
    <input type="radio" id="ChildrenReally dislike" name="Children" value="0">
    <label for="ChildrenReally dislike">Really dislike</label>
    <input type="radio" id="Childrendislike" name="Children" value="1">
    <label for="Childrendislike">Dislike</label>
    <input type="radio" id="Childrenneather like nor dislike" name="Children" value="2">
    <label for="Childrenneather like nor dislike">Neather like nor dislike</label>
    <input type="radio" id="Childrenlike" name="Children" value="3">
    <label for="Childrenlike">Like</label>
    <input type="radio" id="ChildrenReally like" name="Children" value="4">
    <label for="ChildrenReally like">Really like</label><br>
    <br>
    <button type="submit">submit</button>
</div>
    </form>

