@page "/authors/{PageIndex:int:min(1)?}"
@model App.UI.Pages.customer.AuthorsModel
@{
    ViewBag.Title = "Authors page";

    Layout = "/Pages/Shared/CustomerLayout.cshtml";
    var cauthorcss = "/css/CustomerCssFiles/cauthor.css";
}

<link href="@cauthorcss" rel="stylesheet" />

<section id="team">
    <div class="container my-3 py-5 text-center">
        <div class="row">
            @if (Model.PagingAuthors.Any())
            {

                @foreach (var Author in Model.PagingAuthors)
                {
                    <partial name="Partials/_AuthorCardPartial" model="Author" />
                }
            }
            else
                {
                    <h2>No Related Authors</h2>
                }

            </div>
        </div>

    </section>


    <partial name="_Pager" model="@Model.PagingAuthors.PagingData" />




