@media print {
  .main-header, .main-footer, .initial-btn {
    display: none !important;
  }

  .receipt-page .container {
    max-width: unset;
  }
  .receipt-page .receipt-content {
    padding: 0;
  }
}
