@page
@model App.UI.Pages.author.listModel
@{
    Layout = "/Pages/Shared/LibrarianLayout.cshtml";
    ViewBag.Title = "Authors List";
}
<link href="~/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container">
    <br />
    <div>
        <table id="AuthorsDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Number Of Books</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>


        </table>
    </div>
</div>
@section scripts{
    
    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $("#AuthorsDatatable").DataTable({
                //"processing": true,
                //"serverSide": true,
                //"filter": true,
                /*pageLength:2,*/
                "ajax": {
                    url: "?handler=displayAuthors",
                    dataSrc:""
                },
                //"columnDefs": [{
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false
                //}],
                //"columns": [
                //    { "data": "id", "name": "Id", "autoWidth": true },
                //    { "data": "name", "name": "Name", "autoWidth": true },
                //    { "data": "photoPath", "name": "Last Name", "autoWidth": true },
                //    { "data": "displayOrder", "name": "DisplayOrder", "autoWidth": true },
                //    { "data": "numberOfbooks", "name": "numberOfBooks", "autoWidth": true },

                //    {
                //        "render": function (data, row) { return "<a href='#' class='btn btn-danger' onclick=DeleteCustomer('" + row.id + "'); >Delete</a>"; }
                //    },
                //]
                columns: [
                    //{
                    //    title:'Id',
                    //    data:'id'
                    //},
                    {
                        title: 'Name',
                        data: 'name'
                    },
                    {
                        title: 'photoPath',
                        data: 'photoPath',
                        render: function (data) {
                            return '<img src="' + data + '" style=width:100px;hight:100px/>'
                        }
                    },
                    
                    //{
                    //    title: 'Bio',
                    //    data: 'bio'
                    //},
                    {
                        title: 'Number Of Views',
                        data: 'numberOfBooks'
                    },
                    {
                        title: 'Edit',
                        data: 'id',
                        "render": function (data) { return '<a href="/author/Update/' + data + '" class="btn btn-success" >Edit</a>'; }
                    },
                   
                    {
                        title: 'Delete',
                        data: 'id',
                        "render": function (data) { return '<a href="/author/Delete/' + data + '" class="btn btn-danger" >Delete</a>'; }
                    },
                ]
              
            });
        });
    </script>
}