@page
@model App.UI.Pages.librarian.IndexModel
@{
    Layout = "/Pages/Shared/LibrarianLayout.cshtml";
}
<div class="row">
    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/books/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-red">Books</h4>
                            <h6 class="text-muted m-b-0">Show All Books</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-dollar f-28"></i>

                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-red">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>



    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/book-category/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-blue">Book Categories</h4>
                            <h6 class="text-muted m-b-0">All Book Categories Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/author/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-green">Authors</h4>
                            <h6 class="text-muted m-b-0">Show All Authors</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-youtube f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

