@page
@model App.UI.Pages.Admin.IndexModel
@{
    Layout = "/Pages/Shared/AdminLayout.cshtml";
}
<div class="row">
    

    <div class="col-xl-6 col-md-6">
        <div class="card">
            <a href="/Bookstores/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-blue">BookStores</h4>
                            <h6 class="text-muted m-b-0">All BookStores Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card">
            <a href="/books/waitingbooks">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-green">Waiting Books</h4>
                            <h6 class="text-muted m-b-0">Show All WaitingBooks</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-youtube f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>